Checks: >
  -*,
  bugprone-*,
  clang-diagnostic-*,
  -clang-diagnostic-unused-command-line-argument,
  clang-analyzer-*,
  google-*,
  misc-*,
  modernize-*,
  -modernize-deprecated-headers,
  -modernize-return-braced-init-list,
  -modernize-use-equals-delete,
  performance-*,
  readability-*,
  -readability-implicit-bool-conversion,
  -readability-uppercase-literal-suffix
