SeparateDefinitionBlocks: Always

IndentWidth: 4

AlignConsecutiveMacros: Consecutive
SpacesBeforeTrailingComments: 2
AlignTrailingComments: true 

IndentPPDirectives: None # BeforeHash
IndentCaseLabels: true

AllowShortFunctionsOnASingleLine: None 
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortEnumsOnASingleLine: false

AccessModifierOffset: -3

EmptyLineBeforeAccessModifier: Always

MaxEmptyLinesToKeep: 1

AlignArrayOfStructures: Right

AlignConsecutiveAssignments: 
    Enabled: false
    AcrossComments: true
    AcrossEmptyLines: true
    AlignCompound: true
    PadOperators: true

AlignConsecutiveDeclarations: 
    Enabled: false
    AcrossComments: true
    AcrossEmptyLines: true

AlignAfterOpenBracket: Align
BinPackParameters: false
BinPackArguments: false 
AllowAllParametersOfDeclarationOnNextLine: false

RequiresClausePosition: OwnLine
RequiresExpressionIndentation: OuterScope 

AlwaysBreakTemplateDeclarations: Yes

SpaceBeforeCaseColon: false
ColumnLimit: 80

